h1, h3, h4, h5, h6, li, ul, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.navigation a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #424558;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 6fr;
}

.navAcc {
    grid-area: left;
    text-align: left;
}

.navSync {
    grid-area: right;
    text-align: left;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 5px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    text-decoration: underline rgb(134, 134, 134);
}

input {
    padding-top: 10px;
}

header {
    height: 90px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(179, 85, 85);
}

footer {
    font-size: 11px;
    height: 40px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 5px solid rgb(235, 234, 234);
}

footer p {
    line-height: 0.5;
    color: rgb(73, 73, 73);
}

.titre {
    text-decoration: underline rgb(134, 134, 134);
}

/* ########################### NAV ########################### */

nav {
    width: 100%;
    background-color: #424558;
}

nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    list-style-type: none;
    float: left;
    text-transform: uppercase;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    color: #FFF;
    font-size: 50;
}

/* ########################### MENU BAR ########################### */

.page_accueil:hover {
    border-top: 5px solid #e44d26;
    background-color: rgb(228, 77, 38, 0.15);
}

.page_comparaison:hover {
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0.15);
}

.page_synchronisation:hover {
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}

nav li:hover a {
    padding: 7px 30px 7px 30px;
}

/* ########################### SELECTION ########################### */

.selectionDossier {
    display: grid;
    grid-template-areas: "header header"
                         "left right";
    grid-template-columns: 1fr 1fr;
}

.selectionDossier h4 {
    grid-area: header;
    text-align: left;
    font-size: 12px;
    color: rgb(179, 85, 85);
}

.selectionDossier input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 10px 7px 10px;
    margin: 10px;
}

.dossierSource {
    grid-area: left;
    text-align: left;
}

.dossierDestination {
    grid-area: right;
    text-align: left;
}

/* ########################### COMPARAISON ########################### */

.comparaisonDossier h4 {
    text-align: left;
    font-size: 12px;
    color: rgb(179, 85, 85);
    margin-bottom: 5px;
}

.buttonComparaison button {
    margin: 10px;
}

.comparaisonFichier {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.tab1 {
    grid-area: left;
    text-align: left;
}

.tab2 {
    grid-area: right;
    text-align: left;
}

.tab1 tr:nth-child(even), .tab2 tr:nth-child(even) {
    background-color: #eee;
}

.tab1 tr:nth-child(odd), .tab2 tr:nth-child(odd) {
    background-color: #fff;
}

/* ########################### FILTRE ########################### */

.filtre select {
    margin-left: 10px;
    margin-top: 10px;
}

.filtre {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 5fr;
}

.select {
    grid-area: left;
    text-align: left;
}

.check {
    grid-area: right;
    text-align: left;
    margin-top: 10px;
}

.check label {
    margin-left: 0px;
    text-decoration: none;
}

/* ########################### SYNCHRONISATION ########################### */

.synchronisationDossier h4 {
    text-align: left;
    font-size: 12px;
    color: rgb(179, 85, 85);
    margin-bottom: 0px;
}

/* ########################### PROGRESS BAR ########################### */

#progress {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    margin-top: 0px;
}

.synchronisationChargement label {
    text-decoration: none;
}

.buttonSynchro input {
    margin-left: 10px;
    padding-top: 0px;
    margin-top: 10px;
}