{% extends "layout.html" %}

{% block corps %}

<div class="selectionDossier">
    <h4>Pour pouvoir comparer et syncroniser deux dossiers, veuillez entrer ou sélectionner un chemin de répertoire dans les deux champs ci-dessous</h4>
    <div class="dossierSource">
        <label for="dossierSource">Sélectionner le dossier Source :</label>
        <br>
        <input type="text" name="dossierSource" placeholder="Sélectionner un dossier...">
    </div>

    <div class="dossierDestination">
        <label for="dossierDestination">Sélectionner le dossier Destination :</label>
        <br>
        <input type="text" name="dossierDestination" placeholder="Sélectionner un dossier...">
    </div>
</div>

<div class="navigation">
    <a href="/comparaison/">Comparaison &gt&gt</a>
</div>

{% endblock %}