{% extends "layout.html" %}

{% block corps %}

<div class="comparaisonDossier">
    
    <h4>Sélectionnez un filtre si besoin avant de visualiser la comparaison entre les deux dossiers</h4>

    <label>Choisissez un filtre :</label>
    <div class="filtre">
        <div class="select">
            <select name="filtres">
                <option value="">--Sélectionner un filtre--</option>
                <option value="jpg">.jpg</option>
                <option value="png">.png</option>
                <option value="pdf">.pdf</option>
                <option value="xsl">.xsl</option>
                <option value="html">.html</option>
                <option value="txt">.txt</option>
            </select>
        </div>

        <div class="check">
            <input type="checkbox" id="inclure" name="inclure" checked>
            <label for="inclure">Inclure</label>
            <input type="checkbox" id="exclure" name="exclure">
            <label for="exclure">Exclure</label>
        </div>
    </div>

    <div class="buttonComparaison">
        <button class="button">Comparaison</button>
    </div>

    <!-- A compléter avec ce qu'on récupérera à l'intérieur des répertoires : -->
    <div class="comparaisonFichier">
        <table class="tab1">
            <tr>
                <th colspan="3">Chemin Dossier 1</th>
            </tr>
            <tr>
              <td>File1</td>
              <td>Taille1</td>
              <td>Date de modif 1</td>
            </tr>
            <tr>
              <td>File2</td>
              <td>Taille2</td>
              <td>Date de modif 2</td>
            </tr>
            <tr>
              <td>File3</td>
              <td>Taille3</td>
              <td>Date de modif 3</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
        <table class="tab2">
            <tr>
                <th colspan="3">Chemin Dossier 2</th>
            </tr>
            <tr>
                <td>File1</td>
                <td>Taille1</td>
                <td>Date de modif 1</td>
            </tr>
            <tr>
                <td>File2</td>
                <td>Taille2</td>
                <td>Date de modif 2</td>
            </tr>
            <tr>
                <td>File3</td>
                <td>Taille3</td>
                <td>Date de modif 3</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </table>
    </div>
</div>

<div class="navigation">
    <div class="navAcc"v>
        <a href="/accueil">&lt&lt Accueil</a>
    </div>
    <div class="navSync"v>
        <a href="/synchronisation">Synchronisation &gt&gt</a>
    </div>
</div>

{% endblock %}