<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <img src="../images/foldercopie.png" alt="folder">
</body>

<div class="selection">
    <div class="dossierSource">
        <label for="dossierSource">Sélectionner le dossier Source :</label>
        <input type="text" name="dossierSource" placeholder="Sélectionner un dossier...">
    </div>
    <div class="dossierDestination">
        <label for="dossierDestination">Sélectionner le dossier Destination :</label>
        <input type="text" name="dossierDestination" placeholder="Sélectionner un dossier...">
    </div>
</div>

</html>